<a href="https://colab.research.google.com/github/markste-in/collatz/blob/main/create_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# from google.colab import drive
# drive.mount('/content/gdrive')

In [2]:

from multiprocessing import Pool
import psutil

from helper import *

In [3]:
print("CPU Count:", psutil.cpu_count())

CPU Count: 8

In [4]:
pool = Pool(psutil.cpu_count())

In [5]:
df = create_all(pool)

## Going from  3 to 10003 ##
Saved to gdrive/MyDrive/collatz_dbs/collatz_db_20210813-135703_338700595.parquet
Iteration took 1.4359889030456543
## Going from  10003 to 20003 ##
Saved to gdrive/MyDrive/collatz_dbs/collatz_db_20210813-135703_490620496.parquet
Iteration took 0.08176493644714355
## Going from  20003 to 30003 ##
Saved to gdrive/MyDrive/collatz_dbs/collatz_db_20210813-135703_85032747.parquet
Iteration took 0.08693504333496094
## Going from  30003 to 40003 ##
Saved to gdrive/MyDrive/collatz_dbs/collatz_db_20210813-135703_797312200.parquet
Iteration took 0.08953690528869629
## Going from  40003 to 50003 ##
Saved to gdrive/MyDrive/collatz_dbs/collatz_db_20210813-135703_253645172.parquet
Iteration took 0.11967635154724121
## Going from  50003 to 60003 ##
Saved to gdrive/MyDrive/collatz_dbs/collatz_db_20210813-135703_543913207.parquet
Iteration took 0.0944969654083252
## Going from  60003 to 70003 ##
Saved to gdrive/MyDrive/collatz_dbs/collatz_db_20210813-135703_176088274.parquet
Iteration took 0.09504008293151855
## Going from  70003 to 80003 ##
Saved to gdrive/MyDrive/collatz_dbs/collatz_db_20210813-135703_504338534.parquet
Iteration took 0.09850502014160156
## Going from  80003 to 90003 ##
Saved to gdrive/MyDrive/collatz_dbs/collatz_db_20210813-135704_382706899.parquet
Iteration took 0.09923791885375977
## Going from  90003 to 100003 ##
Saved to gdrive/MyDrive/collatz_dbs/collatz_db_20210813-135704_442093044.parquet
Iteration took 0.12718415260314941

In [6]:
df.sample(20)

,Number,Length,Max,IsEven,nPrimes,Smallest_Prime,nSmallest_Prim,Biggest_Prime,nBiggest_Prime,isPrime
7735,97738,41,146608,True,2,2,1,48869,1,False
6643,96646,46,217456,True,4,2,1,191,1,False
4535,94538,85,227176,True,2,2,1,47269,1,False
3384,93387,85,420244,False,3,3,1,4447,1,False
1331,91334,134,205504,True,2,2,1,45667,1,False
6757,96760,98,275560,True,4,2,3,59,1,False
8457,98460,98,186928,True,4,2,2,547,1,False
4144,94147,160,815344,False,2,31,1,3037,1,False
1599,91602,209,3173092,True,4,2,1,727,1,False
9723,99726,116,336580,True,4,2,1,1511,1,False
2502,92505,134,312208,False,4,3,1,881,1,False
9279,99282,116,424096,True,3,2,1,16547,1,False
2300,92303,178,934576,False,2,241,1,383,1,False
1482,91485,72,274456,False,4,3,2,107,1,False
8,90011,116,1025296,False,1,90011,1,90011,1,True
7230,97233,160,291700,False,2,3,1,32411,1,False
1704,91707,196,8153620,False,4,3,1,397,1,False
7092,97095,72,829492,False,3,3,1,6473,1,False
5514,95517,222,1276936,False,2,3,2,10613,1,False
4499,94502,85,255472,True,2,2,1,47251,1,False